.Home {
    /* text-align: center; */
    background-color: #282c34;
    background-image: url('../assets/admath-solver-mainpage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;  
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 2%;
    margin-left: 2.5%;
}


.container {
  padding: 10px;
  width: 350px;
  margin-top: 10px;;
  /* margin-left: 50px; */
  height: 50px;
  border: black 1px

}

.button {
  margin:5px;
  padding: 20px;
  background-color: #282c34;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
}
